*~
.gradle
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings
.DS_Store
.textmate
.idea
*.sublime-*
.nb-gradle
/core/build
/example/build
/fetcher/build
/mapper/build
/tomcat-pool/build
/transactional/build
/transactional-jersey/build
target